{% extends 'dash_resu.html'%}

{% block head %}
{% include 'head_login_signup.html'%}
<title>Log in</title>
<style>
   .navbar,.btn {
    background-color: #7e0cf5;
  }

</style>
{% endblock %}
{% include 'navbar2.html' %}

{% block body %}
<div class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <img src="{{url_for('static', filename = '/images/signin-image.jpg')}}" alt="Image" class="img-fluid"
          width="350px" height="350px">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">

            <h3>Login</h3>

            <form action="{{url_for('login')}}" method="post">

              <div class="form-group first">

                <input type="text" class="form-control" name="email" placeholder="Email ID">

              </div>
              <div class="form-group">

                <input type="password" class="form-control" name="pswd" placeholder="Password">

              </div>
              <br>
              {% if message:%}
              <div class="alert alert-danger">
                <h6>
                  {{message}}
                </h6>
              </div>
              {% endif %}
              <button type="submit" class="btn btn-block text-white"> Login
              </button>
            </form>
            <form action="{{url_for('signup')}}" method="get">
            <span class="d-block text-left my-4 text-muted">&mdash; If New User, then Sign Up with &mdash;</span>

            <button type="submit" class="btn btn-block text-white" > Sign-Up </button>
          </form>
          </div>
        </div>
      </div>






    </div>

  </div>
</div>
</div>
{% endblock %}