
<nav class="navbar navbar-dark navbar-expand-lg navbar-fixed-top">

    <a class="navbar-brand" href="#"><i class="fas fa-briefcase"></i> JOB UP </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          <li><a href="#" class="nav-item nav-link">Search Job</a></li>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="View.html" class="nav-item nav-link">View Resume</a></li>
        <li><a href="Edit.html" class="nav-item nav-link">Edit Resume</a></li>
        <li><a href="" class="nav-item nav-link">Logout</a></li>

      </ul>

    </div>

</nav>

