
<nav class="navbar navbar-dark navbar-expand-lg navbar-fixed-top">

    <a class="navbar-brand" href="#"><i class="fas fa-briefcase"></i> JOB UP </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if active=='home' %}active{%endif %}">
          <a class="nav-link" href="{{url_for('dashboard')}}">Home <span class="sr-only">(current)</span></a>
        </li>
        
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('search')}}" class="nav-item nav-link {% if active=='search' %}active{%endif %}">Search Job</a></li>
        <li><a href="{{url_for('viewresume')}}" class="nav-item nav-link {% if active=='view' %}active{%endif %}">View Resume</a></li>
        <li><a href="{{url_for('edit')}}" class="nav-item nav-link {% if active=='edit' %}active{%endif %}">Edit Resume</a></li>
        <li><a href="{{url_for('logout')}}" class="nav-item nav-link">Logout</a></li>

      </ul>

    </div>

</nav>

