<html>
<head>  <title>Resume</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>
<body style="background-image: url('purplebg.jpg');background-repeat: no-repeat; background-size: cover;">

<div class="container">

<div class="py-5">
  <form class="bg-light">
    <br><br>
    <center><h1>Resume</h1></center>
<br><br>

<div class="p-5 border ">
    <center><lable><h3>Personal Details</h3></lable></center> 
    <br><br>
    <div>
    <div class="mb-4 d-flex justify-content-center">
        <img src="profile.jpg"
        alt="example placeholder" style="width: 200px;" />
    </div>
    <div class="d-flex justify-content-center">
        <div class="btn btn-primary btn-rounded">
            <label class="form-label text-white m-1" for="customFile1">Choose file</label>
            <input type="file" class="form-control d-none" id="customFile1" />
        </div>
    </div>
</div>

<br>
  <div class="row">
    <div class="col-md-6">
    <div class="form-group">
      
      <label>First name:</label>
      <input type="text" class="form-control" id="firstname">
    </div>

    </div>

    <div class="col-md-6">
    <div class="form-group">
      <label>Last name:</label>
      <input type="text" class="form-control" id="lastname">
    </div>
    </div>
  </div>



 <div class="row">
    <div class="col-md-6">
    <div class="form-group">
    <label>Date of Birth:</label>
    <input type="Date" class="form-control " id="dob">
  </div>
</div>

 <div class="col-md-6">
    <div class="form-group">
      <label>Email:</label>
      <input type="email" class="form-control" id="email">
    </div>
    </div>
  </div>




  


<label>Gender:</label>

  <div class="row">

    <div class="col-md-4">
   <div class="form-check">
    <input type="radio" class="form-check-input" name="gender"> <label>Male</label>
  </div>
</div>
<div class="col-md-4">
  <div class="form-check">
   
    <input type="radio" class="form-check-input" name="gender">  <label>Female</label>
  </div>
</div>
<div class=col-md-4>
  <div class="form-check">
    
    <input type="radio" class="form-check-input" name="gender"><label>Not like to mention</label> 
  </div>
</div>
</div>



  

</div>


<div class="p-5 border bg-light">
 <center><lable><h3>Academic Details</h3></lable></center>
<br><br>

<lable><h5>X Standard</h5></lable>
<br>
<div class="row">
    <div class="col-md-4">
    <div class="form-group">
      <label>School Name:</label>
      <input type="text" class="form-control" id="10school">
    </div>
    </div>

    <div class="col-md-4">
    <div class="form-group">
      <label>Year:</label>
      <input type="number" class="form-control" id="10year">
    </div>
    </div>

    <div class="col-md-4">
    <div class="form-group">
      <label>Marks:</label>
      <input type="number" class="form-control" id="10marks">
    </div>
    </div>
  </div>

  <lable><h5>XII Standard</h5></lable>
<br>
<div class="row">
    <div class="col-md-4">
    <div class="form-group">
      <label>School Name:</label>
      <input type="text" class="form-control" id="12school">
    </div>
    </div>

    <div class="col-md-4">
    <div class="form-group">
      <label>Year:</label>
      <input type="number" class="form-control" id="12year">
    </div>
    </div>

    <div class="col-md-4">
    <div class="form-group">
      <label>Marks:</label>
      <input type="number" class="form-control" id="12marks">
    </div>
    </div>
  </div>


  <lable><h5>Diploma</h5></lable>
<br>
<div class="row">
    <div class="col-md-4">
    <div class="form-group">
      <label>Course Name:</label>
      <input type="text" class="form-control" id="diplomacourse">
    </div>
    </div>

    <div class="col-md-4">
    <div class="form-group">
      <label>Year:</label>
      <input type="number" class="form-control" id="diplomayear">
    </div>
    </div>

    <div class="col-md-4">
    <div class="form-group">
      <label>Marks:</label>
      <input type="number" class="form-control" id="diplomamarks">
    </div>
    </div>
  </div>

   <lable><h5>UG</h5></lable>
<br>
<div class="row">
    <div class="col-md-3">
    <div class="form-group">
      <label>College Name:</label>
      <input type="text" class="form-control" id="ugcollege">
    </div>
    </div>

    <div class="col-md-3">
    <div class="form-group">
      <label>Year:</label>
      <input type="number" class="form-control" id="ugyear">
    </div>
    </div>

    <div class="col-md-3">
    <div class="form-group">
      <label>Degree:</label>
      <input type="text" class="form-control" id="ugdegree">
    </div>
    </div>

     <div class="col-md-3">
    <div class="form-group">
      <label>CGPA:</label>
      <input type="number" class="form-control" id="ugcgpa">
    </div>
    </div>
  </div>

<lable><h5>PG</h5></lable>
<br>
<div class="row">
    <div class="col-md-3">
    <div class="form-group">
      <label>College Name:</label>
      <input type="text" class="form-control" id="pgcollege">
    </div>
    </div>

    <div class="col-md-3">
    <div class="form-group">
      <label>Year:</label>
      <input type="number" class="form-control" id="pgyear">
    </div>
    </div>

    <div class="col-md-3">
    <div class="form-group">
      <label>Degree:</label>
      <input type="text" class="form-control" id="pgdegree">
    </div>
    </div>

     <div class="col-md-3">
    <div class="form-group">
      <label>CGPA:</label>
      <input type="number" class="form-control" id="pgcgpa">
    </div>
    </div>
  </div>
</div>

<div class="details">
<div class="p-5 border bg-light">
 <center><lable><h3>Skillset and Project Details</h3></lable></center>
<br><br>

<lable><h5>Skills</h5></lable>
<br>
<div class="row">
    <div class="col-md-4">
    <div class="form-group">
      <label>Skill 1:</label>
      <input type="text" class="form-control" id="skill1">
    </div>
    </div>

    <div class="col-md-4">
    <div class="form-group">
      <label>Skill 2:</label>
      <input type="text" class="form-control" id="skill2">
    </div>
    </div>

    <div class="col-md-4">
    <div class="form-group">
      <label>Skill 3:</label>
      <input type="text" class="form-control" id="skill3">
    </div>
    </div>
  </div>

<div class="row">
    <div class="col-md-4">
    <div class="form-group">
      <label>Skill 4:</label>
      <input type="text" class="form-control" id="skill4">
    </div>
    </div>

    <div class="col-md-4">
    <div class="form-group">
      <label>Skill 5:</label>
      <input type="text" class="form-control" id="skill5">
    </div>
    </div>

    <div class="col-md-4">
    <div class="form-group">
      <label>Skill 6:</label>
      <input type="text" class="form-control" id="skill6">
    </div>
    </div>
  </div>

  <lable><h5>Projects</h5></lable>
<br>

  <div class="form-group">
   <label>Projct 1:</label>
    <textarea class="form-control" rows="4" id="pj1"></textarea>
   
  </div>

   <div class="form-group">
   <label>Projct 2:</label>
    <textarea class="form-control" rows="4" id="pj2"></textarea>
  </div>

   <div class="form-group">
   <label>Projct 3:</label>
    <textarea class="form-control" rows="4" id="pj3"></textarea>
  </div>


<lable><h5>Top 3 companines of Choice</h5></lable>
<br>
<div class="row">
    <div class="col-md-4">
    <div class="form-group">
      <label>Company 1:</label>
      <input type="text" class="form-control" id="company1">
    </div>
    </div>

    <div class="col-md-4">
    <div class="form-group">
      <label>Company 2:</label>
      <input type="text" class="form-control" id="company2">
    </div>
    </div>

    <div class="col-md-4">
    <div class="form-group">
      <label>Company 3:</label>
      <input type="text" class="form-control" id="company3">
    </div>
    </div>
  </div>


</div>

 <center><button type="submit" class="btn btn-primary btn-rounded btn-lg btn-block">Submit</button></center>
 </form>
</div>
</div>
</body></html>