{% extends 'dash_resu.html'%}

{% block head %}
{% include 'head_login_signup.html' %}
<title>Sign-Up</title>
<style>
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  input[type=number] {
    width: 200px;
    height: 30px;
    padding: 0 5px;
  }

  .navbar,.btn {
    background-color: #7e0cf5;
  }

  .btn:hover {
    background-color: #750fe1;
  }

</style>
{% endblock %}
{% include 'navbar2.html' %}
{% block body %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{{url_for('static', filename = '/images/undraw_remotely_2j6y.svg')}}" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <h3><b>Sign Up</b></h3>

            </div>
            <form action="{{url_for('signup')}}" method="post">

              <div class="form-group first">
                <input type="email" class="form-control" name="email" placeholder="Email ID" required>
              </div>

              <div class="form-group ">
                <input type="number" class="form-control" name="mobile" placeholder="Mobile Number" required>
              </div>

              <div class="form-group last mb-4">
                <input type="password" class="form-control" name="pswd" placeholder="Password" required>
              </div>


              
              
              {% if message:%}
                <div class="alert alert-danger">
                  <h6>
                      {{message}}
                  </h6>
                </div>
              {% endif %}
              
              <button type="submit" class="btn btn-block text-white"> Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}