<html>
<head>
<title>View Resume</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  {% block head %}{% endblock %}
<body>


<div class="container">
  <center><h2>Resume</h2> </center>   
<div class="float-right">
  <button type="submit" class="btn btn-primary btn-rounded btn-lg btn-block">Download  <i class="fas fa-download"></i></button>
        
      </div>
  <br>
  <br>
  <h3>Personal Details</h3>    
  <br>  
  <table class="table table-striped ">
    
    <tbody>
      <tr>
        <td>First Name </td>
        <td></td>
       
      </tr>
      <tr>
        <td>Last Name  </td>
        <td></td>
        
      </tr>
      <tr>
        <td>Date of Birth </td>
        <td></td>
      </tr>

       <tr>
        <td>Email </td>
        <td></td>
      </tr>

       <tr>
        <td>Gender </td>
        <td></td>
      </tr>

    </tbody>
  </table>

<br>
  <h3>Academic Details</h3>    
  <br>
  <table class="table table-striped ">
     <thead>
      <tr>
        <th>Degree/Class</th>
        <th>Institution Name</th>
        <th>Year</th>
        <th>Results</th>
      </tr>
    </thead>  
    <tbody>
      <tr>
        <td>X</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>XII</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Diploma</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
 
 <h3>Skillset</h3>    
  <br>  
  <ul class="list-group">
  <li class="list-group-item"></li>
  <li class="list-group-item"></li>
  <li class="list-group-item"></li>
  <li class="list-group-item"></li>
  <li class="list-group-item"></li>
  <li class="list-group-item"></li>
</ul>
<h3>Projects</h3>    
  <br> 
  <div class="card">
  <div class="card-header">
   Project 1
  </div>
  <div class="card-body">  
    <p class="card-text"></p>
  </div>
</div>
<div class="card">
  <div class="card-header">
   Project 2
  </div>
  <div class="card-body">  
    <p class="card-text"></p>
  </div>
</div><div class="card">
  <div class="card-header">
   Project 3
  </div>
  <div class="card-body">  
    <p class="card-text"></p>
  </div>
</div>
</div>
</body>
</html>