
{% extends 'dash_resu.html'%}
{% block head %}
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>View Resume</title>
<style>
  .navbar {
    background-color: #7e0cf5;
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.4/jspdf.plugin.autotable.min.js"></script>
<script>
function getPDF() {
  var doc = new jsPDF();
 
  // We'll make our own renderer to skip this editor
  var specialElementHandlers = {
    '#getPDF': function(element, renderer){
      return true;
    },
    '.controls': function(element, renderer){
      return true;
    }
  };
  doc.fromHTML($('.zima').get(0), 15, 15, {
    'width': 170, 
    'elementHandlers': specialElementHandlers
  });

  doc.save('Resume.pdf');
}
</script>
{% endblock %}
{% include 'navbar.html' %}
{% block body %}
<br>
<div class="container" >
  <div class="float-right">
   
      <button class="btn btn-primary btn-rounded btn-md btn-block" id="getPDF" onclick="getPDF()"> Download <i class="fas fa-download"></i></button>
   
  </div>
  <div class="container zima">
    <h2 style="text-align: center;">Resume</h2>
    
    <br>
    <br>
    <h3><i class="fas fa-address-card"></i> Personal Details</h3>
    <br>
    
    <table class="table table-striped ">

      <tbody>
        

        <tr>
          <th>First Name </th>
          <td>{{account['per']['F_NAME']}}</td>

        </tr>
        <tr>
          <th>Last Name </th>
          <td>{{account['per']['L_NAME']}}</td>

        </tr>
        <tr>
          <th>Date of Birth </th>
          <td>{{account['per']['DOB']}}</td>
        </tr>

        <tr>
          <th>Email </th>
          <td>{{account['per']['EMAIL']}}</td>
        </tr>

        <tr>
          <th>Contact Number</th>
          <td>{{account['per']['MOBILE']}}</td>
        </tr>

        <tr>
          <th>Gender </th>
          <td>{% if account['per']['GENDER'] == 'f' %}
            Female
            {% elif account['per']['GENDER'] == 'm' %}
            Male
            {% else %}
            Non Binary
            {% endif %}
            
          </td>
        </tr>

      </tbody>
    </table>

    <br>
    <h3><i class="fas fa-graduation-cap"></i>  Academic Details</h3>
    <br>
    <h4>School</h4>
    <table class="table table-striped ">
      <thead>
        <tr>
          <th>Class</th>
          <th>Institution Name</th>
          <th>Year</th>
          <th>Results</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>X</th>
          <td>{{account['10']['S_NAME']}}</td>
          <td>{{account['10']['MARKS']}}%</td>
          <td>{{account['10']['YEAR']}}</td>
        </tr>
        <tr>
          <th>XII</th>
          <td>{{account['12']['S_NAME']}}</td>
          <td>{{account['12']['MARKS']}}%</td>
          <td>{{account['12']['YEAR']}}</td>
        </tr>
        {% if account['dip'] != "" %}
        <tr>
          <th>Diploma</th>
          <td>{{account['dip']['COURSE_NAME']}}</td>
          <td>{{account['dip']['MARKS']}}%</td>
          <td>{{account['dip']['YEAR']}}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
    {% if account['ug'] != "" %}
    <h4>College</h4>
    <table class="table table-striped ">
      <thead>
        <tr>
          <th> </th>
          <th>Institution Name</th>
          <th>Degree</th>
          <th>Graduating Year</th>
          <th>CGPA</th>
        </tr>
      </thead>
      <tbody>
        {% if account['ug'] != "" %}
        <tr>
          <th>UG</th>
          <td>{{account['ug']['C_NAME']}}</td>
          <td>{{account['ug']['DEGREE']}}</td>
          <td>{{account['ug']['YEAR']}}</td>
          <td>{{account['ug']['CGPA']}}</td>
        </tr>
        {% endif %}
        {% if account['pg'] != "" %}
        <tr>
          <th>PG</th>
          <td>{{account['pg']['C_NAME']}}</td>
          <td>{{account['pg']['DEGREE']}}</td>
          <td>{{account['pg']['YEAR']}}</td>
          <td>{{account['pg']['CGPA']}}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
    {% endif %}
    <br>

    <h3><i class="fas fa-fire"></i> Skillset</h3>
    <br>
    <ul class="list-unstyled">
      <li><i class="fas fa-clipboard-check"> </i>   {{account['skill']['SKILL1']}}</li>
      <li><i class="fas fa-clipboard-check"> </i>   {{account['skill']['SKILL2']}}</li>
      <li><i class="fas fa-clipboard-check"> </i>   {{account['skill']['SKILL3']}}</li>
    {% if account['skill']['SKILL4'] != "" %}
      <li><i class="fas fa-clipboard-check"> </i>   {{account['skill']['SKILL4']}}</li>
      <li><i class="fas fa-clipboard-check"> </i>   {{account['skill']['SKILL5']}}</li>
      <li><i class="fas fa-clipboard-check"> </i>   {{account['skill']['SKILL6']}}</li>
    {% endif %}
    </ul>
    <br>
    <h3><i class="fas fa-atom"></i> Projects</h3>
    <br>
    <div class="card">
      <div class="card-header">
        <b>Project 1</b>
      </div>
      <div class="card-body">
        <p class="card-text">{{account['p']['PROJ1']}}</p>
      </div>
    </div>

    {% if account['p']['PROJ2'] != "" %}
    <div class="card">
      <div class="card-header">
        <b>Project 2</b>
      </div>
      <div class="card-body">
        <p class="card-text">{{account['p']['PROJ2']}}</p>
      </div>
    </div>
    {% endif %}
    {% if account['p']['PROJ3'] != "" %}
    <div class="card">
      <div class="card-header">
        <b>Project 3</b>
      </div>
      <div class="card-body">
        <p class="card-text">{{account['p']['PROJ3']}}</p>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}